{% load static %}

<!DOCTYPE html>

<html lang="en">
<head>
   <link rel="stylesheet" href="{% static '/css/logout.css' %}">
   <link rel="stylesheet" href="https://fonts.googleapis.com/css2">

   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
</head>

<body>

   <div class="outer">
      <div class="new">
         <h3>You Have Been 'Logout'.</h3>
         <a href="{% url 'login' %}">Login Again</a>
      </div>
   </div>

</body>
</html>