{% load  static %} 


<!DOCTYPE html>
<html lang="en">
<head>
   <link rel="stylesheet" href="{% static '/css/register.css' %}">
   <link rel="stylesheet" href="https://fonts.googleapis.com/css2">
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Register</title>
</head>

<body>

   <div class="outer">
      <form action="" method= "POST">
      {% csrf_token %}





      <h3>Register - Join Today</h3>
      <label for="username">UserName</label>
      {{form.username}}
      <label for="gmail">Gmail</label>
      {{form.email}}


      <label for="password">Password</label>
      {{form.password1}}
      <label for="password">ReType Password</label> 
      {{form.password2}}
      <button class="btn" type="submit">Sign Up</button>

      <div class="account-forandregi">
         <a class="login-already-acc" href="{% url 'login' %}">Already Has An Account? | Login</a>
      </div>

            


      </form>

   </div>


</body>
</html>